
vcredist/vcredist_2005_win32.exe
vcredist/vcredist_2005_win64.exe
vcredist/vcredist_2008_win32.exe
vcredist/vcredist_2008_win64.exe
vcredist/vcredist_2010_win32.exe
vcredist/vcredist_2010_win64.exe
vcredist/vcredist_2012_win32.exe
vcredist/vcredist_2012_win64.exe
vcredist/vcredist_2013_win32.exe
vcredist/vcredist_2013_win64.exe
vcredist/vcredist_2015-2019_win32.exe
vcredist/vcredist_2015-2019_win64.exe
